@model WebApplication1.Models.student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.uni_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uni_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.intake)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.intake)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.faculty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faculty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.degree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.degree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.studentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.studentStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
