@model WebApplication1.Models.stu_module

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>stu_module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.assignmentMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.assignmentMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.examMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.examMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lec_module.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lec_module.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student1.uni_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student1.uni_id)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
