@model WebApplication1.Models.stu_module

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>stu_module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.mark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lec_module.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lec_module.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student1.uni_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student1.uni_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
