@model IEnumerable<WebApplication1.Models.stu_module>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLecturer.cshtml";
}

<h2>Index</h2>

<input type="text" id="myInput" onkeyup="searchByid()" placeholder="Search for Students.." title="Type in a name">

<input type="text" id="myInput1" onkeyup="searchByModule()" placeholder="Search for names.." title="Type in a name" Style = "display:none">


<table class="table" id="myTable">
    <tr>
        <th>
            Student
        </th>
        <th>
            Assgnment Mark
        </th>
        <th>
            Exam Mark
        </th>
        <th Style="display:none">
            Module
        </th>
        <th>
            Total
        </th>
        <th>
            Grade
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

<tr>
    <td>
        @Html.DisplayFor(modelItem => item.student1.uni_id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.assignmentMark)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.examMark)
    </td>
    <td Style="display:none">
        @Html.DisplayFor(modelItem => item.lec_module.id)
    </td>
    <td id="total">
        @if (item.examMark > 35)
        {
            <div>@(item.assignmentMark * 0.3 + item.examMark * 0.7)</div>
        }
        else
        {<div>Incompleatd</div>}

    </td>
    <td id="grade">
        @if (item.examMark < 45)
        {
            <div>C-</div>
        }
        else if (item.examMark < 50)
        {
            <div>C</div>

        }
        else if (item.examMark < 55)
        {
            <div>C+</div>
        }
        else if (item.examMark < 60)
        {
            <div>B-</div>
        }
        else if (item.examMark < 65)
        {
            <div>B</div>
        }
        else if (item.examMark < 70)
        {
            <div>B+</div>
        }
        else if (item.examMark < 75)
        {
            <div>A-</div>
        }
        else if (item.examMark < 80)
        {
            <div>A</div>
        }
        else
        {
            <div>A+</div>
        }
    </td>
    
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
        @Html.ActionLink("Details", "Details", new { id = item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.id })
    </td>
</tr>
       
    }

</table>


<script>
    var url_string = window.location.href;
    var url = new URL(url_string);
    var input = url.searchParams.get("id");
    console.log(input);
    document.getElementById("myInput1").value = input;


    searchByModule()
    function searchByid() {
        
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    function searchByModule() {
        var input, filter, table, tr, td, i, txtValue;

        input = document.getElementById("myInput1");
        filter = input.value.toUpperCase();
      //  alert(filter);
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[3];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

</script>
