@model WebApplication1.Models.lec_module

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Module</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="card">
    <div class="card-header card-header-primary">
        <h4 class="card-title">Asign Module for lecturer</h4>
        <p class="card-category">Complete Infromation </p>
    </div>
    <div class="card-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.lecturer, "lecturer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("lecturer", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.lecturer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.module, "module", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("module", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.module, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.degree, "degree", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("degree", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.degree, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.intake, "intake", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("intake", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.intake, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
